<!DOCTYPE html>
<html>
<head>
    <title>Case Information</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Case Information</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Case ID</th>
                    <th>Client Email</th>
                    <th>Case Status</th>
                    <th>Work Progress</th>
                    <th>Quote</th>
                    <th>Notes</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                <tr>
                    <td>{{ case[0] }}</td>
                    <td>{{ case[1] }}</td>
                    <td>{{ case[2] }}</td>
                    <td>{{ case[3] }}</td>
                    <td>{{ case[4] }}</td>
                    <td>{{ case[5] }}</td>
                    <td>
                        <a href="{{ url_for('display_case_details', case_id=case[0]) }}" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <p><a href="/admin_dashboard" class="btn btn-primary">Back</a></p>
        </div>
    </div>
    <!-- Add Bootstrap JavaScript (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
