<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/display.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Page</title>

</head>
<body>

  <div class="navbar">

  </div>
    <!-- Split Screen -->
    <div class="split-screen">
        <div class="left">
            <div id="header">
                <img id="logo-img" src="../static/images/teradrive-logo-3.png" alt="logo">
                <h1 id="title">TERADRIVE</h1>
            </div>
            <!-- Side nav -->
            <div id="side-nav">
              <div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
                  <ul class="nav nav-pills flex-column nav-items">
                    <li>
                      <a id="dashboard-anchor" href="#" class="top-side-nav nav-link text-blue">
                        <img src="../static/images/menu-icon.png" alt="dashboard-icon">                        
                        Dashboard
                      </a>
                    </li>
                    <li>
                      <a id="cases-anchor" href="#" class="top-side-nav nav-link text-blue">
                        <img src="../static/images/cases-icon.png" alt="cases-icon">
                        Cases
                      </a>
                    </li>
                    <!-- <li>
                      <a id="details-anchor" href="#" class="top-side-nav nav-link text-blue">
                        <img src="../static/images/case-details-icon.png" alt="details-icon">
                        Case Details
                      </a>
                    </li> -->
                  </ul>
                </div>
                <div>
                  <!-- Second half of side nav with settings & sign out -->
                  <hr id="side-nav-divider">
                  <ul class="nav nav-pills flex-column nav-items">
                    <li>
                      <a href="#" class="nav-link text-blue bottom-side-nav">
                        <img src="../static/images/settings-icon.png" alt="settings-icon">                        
                        Settings
                      </a>
                    </li>
                    <li>
                      <a href="/logout" class="nav-link text-blue bottom-side-nav">
                        <img src="../static/images/sign-out-icon.png" alt="signout-icon">
                        Sign Out
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nav-link text-blue bottom-side-nav">
                        <img src="../static/images/help-icon.png" alt="help-icon">
                        Help
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            <!-- Side nav end -->
        </div>

        
        <!-- vertical rule -->
        <!-- This is inside .split-screen, but not inside 
        left or right -->
        <div class="vl">
        </div>

        <div class="right">
          <div id="top-nav">
            <!-- name, email, number-->
            <div id="name-email-number">
              <div id="names">
                <h4 id="first-name">{{ client_case_data[0][0] }}</h4>
              </div>
              <div id="email-number">
                <div class="top-nav-email-number">
                  <img src="../static/images/mail-icon.png" alt="email" width="20px" height="20px">
                  {{ current_user.email }}
                </div>
                <div class="top-nav-email-number">
                  <img src="../static/images/phone-icon.png" alt="phone" width="20px" height="21px">
                    {{ current_user.phone }}        
                </div>
              </div>
            </div>
            <!-- messages, only add if necessary-->
          </div>

          <!-- cases and case details -->

          <div id="cases">
            <div id="case-nav-wrapper">
              <div id="case-nav">
                <h4 class="section-title">Cases</h4>
                <div class="dropdown show cases-dropdown">
                  <a onclick="dropDownToggleCases()" class="btn cases-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All-Time
                  </a>
                
                  <div id="dropdown-menu-cases" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">All-Time</a>
                    <a class="dropdown-item" href="#">Last-Month</a>
                    <a class="dropdown-item" href="#">Last-Week</a>
                    <a class="dropdown-item" href="#">Last-Day</a>
                  </div>
                </div>
              </div>
              <table class="table table-striped table-bordered case-table-textfield">
                <thead class="thead-dark">
                    <tr>
                        <th>Case ID</th>
                        <th>Case Status</th>
                        <th>Work Progress</th>
                        <th>Quote</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client_case in client_case_data[1:] %}
                    <tr>
                        <td>{{ client_case[0] }}</td>
                        <td>{{ client_case[1] }}</td>
                        <td>{{ client_case[2] }}</td>
                        <td>{{ client_case[3] }}</td>
                    <td>
                            <a href="{{ url_for('display_case_details_user', case_id=client_case[0]) }}" class="btn btn-primary">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
          </div>

          <!-- Didn't end up needing these two sections.-->

          <!-- <div id="case-summary">
            <div id="case-summary-wrapper">
              <div id="case-summary-nav">
                <h4 class="section-title">Case Summary</h4>
              </div>  
              <textarea class="case-table-textfield" name="summary" id="" cols="100" rows="10"></textarea>
              </div>
            </div> -->

          <!-- <div id="case-details-wrapper">
          <div id="case-details-nav">
            <h4 class="section-title">Case Details</h4>
            <div class="dropdown show details-dropdown">
              <a onclick="dropDownToggleDetails()" class="btn details-btn dropdown-toggle" href="#" role="button" id="dropdown-details" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All-Time
              </a>
            
              <div id="dropdown-menu-details" class="dropdown-menu" aria-labelledby="dropdown-details">
                <a class="dropdown-item" href="#">All-Time</a>
                <a class="dropdown-item" href="#">Last-Month</a>
                <a class="dropdown-item" href="#">Last-Week</a>
                <a class="dropdown-item" href="#">Last-Day</a>
              </div>
            </div>
            </div> -->
          <!-- </div> -->

          
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/display.js"></script>
  </body>
</html>
